.containerMain {
  margin: 0 auto;
  max-height: 60%;
  max-width: 50%;
  border: 1px solid black;
  border-radius: 5px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#weather-form {
  margin: 10px;
}

#submit-button {
  background-color: #8971d0;
  margin: 10px 15px;
  font-size: 12px;
}

#current-location {
  font-size: 12px;
  margin: 10px 20px;
}

#city-name {
  font-size: 22px;
  font-weight: bold;
  color: #8971d0;
  text-transform: capitalize;
}

#current-temperature {
  font-size: 22px;
  color: #7dace4;
  font-weight: bold;
}

#weather-description {
  text-transform: capitalize;
}

#icon {
  float: right;
}

.main-text {
  color: #8971d0;
}
#code-link {
  font-size: 10px;
  position: relative;
  top: 15px;
  left: 5px;
}

#forecast {
  margin-left: 10px;
  margin-top: 5px;
  color: #8971d0;
}
