.containerMain {
  margin: 0 auto;
  height: 300px;
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#weather-form {
  margin: 10px;
}

#submit-button {
  background-color: #8971d0;
  margin: 10px;
  font-size: 12px;
}

#city-name {
  font-size: 22px;
  font-weight: bold;
  color: #8971d0;
}

#current-temperature {
  font-size: 22px;
  color: #7dace4;
}

#weather-description {
  text-transform: capitalize;
}

img {
  float: right;
}
